/* Escolha UM dos temas abaixo */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

/* Estilos globais */
html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #fafafa;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

.spacer {
  flex: 1 1 auto;
}

.full-width {
  width: 100%;
}

.text-center {
  text-align: center;
}

.menu-flex{
  display: flex;
}

.mt-2 { margin-top: 8px !important; }
.mt-4 { margin-top: 16px !important; }
.mb-2 { margin-bottom: 8px !important; }
.mb-4 { margin-bottom: 16px !important; }
.ml-2 { margin-left: 8px !important; }
.mr-2 { margin-right: 8px !important; }